.steps_cards{
    @include flex-row(column, center, center);
    .steps_cards_title{
        width: 342px;
        height: 32px;
        font-family: $fontStyle;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: #444444;
        margin-top: 89px;
    }
    .steps_cards_images{
        width: 940px;
        @include flex-row (row, space-between, center);
        margin-top: 35px;
        .step_card_image1{
            width: 300px;
            height: 400px;
            background-image: url(../images/Step_1.png);
            border-radius: 4px;
            &:hover{
                transform: scale(1.06);
                transition: all .5s;
                box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.438);
                cursor: pointer;
                
            }
            &:not(:hover){
                transition: all .5s;
            }

            .step_card_image1_textbox{
                max-width: 250px;
                padding: 219px 25px 21px 25px;
                button{
                    width: 70px;
                    height: 20px;
                    background: #FF4E50;
                    border-radius: 40px;
                    font-family: $fontStyle;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 2px;
                    color: #FFFFFF;
                    outline: none;
                    border: none;

                }
                h2{
                    width: 250px;
                    height: 58px;
                    font-family: $fontStyle;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 26px;
                    color: #FFFFFF;
                    margin-top: 18px;

                }
                p{
                    width: 250px;
                    height: 57px;
                    font-family: $fontStyle;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 14px;
                    color: #E3E3E3;
                    margin-top: 10px;
                }

            }
        
        }
        .step_card_image2{
            width: 300px;
            height: 400px;
            background-image: url(../images/Step_2.png);
            border-radius: 4px;
            background-size: cover;
            background-repeat: no-repeat;
            &:hover{
                transform: scale(1.06);
                transition: all .5s;
                box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.438);
                cursor: pointer;
                
            }
            &:not(:hover){
                transition: all .5s;
            }
            .step_card_image2_textbox{
                max-width: 250px;
                padding: 250px 25px 21px 25px;
                button{
                    width: 70px;
                    height: 20px;
                    background: #FF4E50;
                    border-radius: 40px;
                    font-family: $fontStyle;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 2px;
                    color: #FFFFFF;
                    outline: none;
                    border: none;

                }
                h2{
                    width: 250px;
                    height: 29px;
                    font-family: $fontStyle;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 26px;
                    color: #FFFFFF;
                    margin-top: 17px;

                }
                p{
                    width: 250px;
                    height: 57px;
                    font-family: $fontStyle;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 14px;
                    color: #E3E3E3;
                    margin-top: 9px;
                }

            }


        }
        .step_card_image3{
            width: 300px;
            height: 400px;
            background-image: url(../images/Step_3.png);
            border-radius: 4px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            &:hover{
                transform: scale(1.06);
                transition: all .5s;
                box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.438);
                cursor: pointer;
                
            }
            &:not(:hover){
                transition: all .5s;
            }
            .step_card_image3_textbox{
                max-width: 250px;
                padding: 219px 25px 21px 25px;
                button{
                    width: 70px;
                    height: 20px;
                    background: #FF4E50;
                    border-radius: 40px;
                    font-family: $fontStyle;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 10px;
                    line-height: 12px;
                    letter-spacing: 2px;
                    color: #FFFFFF;
                    outline: none;
                    border: none;

                }
                h2{
                    width: 250px;
                    height: 58px;
                    font-family: $fontStyle;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 26px;
                    color: #FFFFFF;
                    margin-top: 18px;

                }
                p{
                    width: 250px;
                    height: 57px;
                    font-family: $fontStyle;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 14px;
                    line-height: 14px;
                    color: #E3E3E3;
                    margin-top: 10px;
                }

                
            }

        }



    }
}

.partners{
    @include flex-row(column, center, center);
    .partners_title{
        width: 491px;
        height: 32px;
        font-family: $fontStyle;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: #444444;
        margin-top: 79px;
    }
    .partner_boxes{
        width: 941px;
        height: 224px;
        @include flex-row(row, space-between, center);
        margin-top: 35px;

        .partner_first_box{
            width: 221px;
            height: 224px;
            @include flex-row(column, center, center);
            &:hover{
                transform: scale(1.14);
                background-color: rgba(211, 211, 211, 0.486);
                border-radius: 25px;
                transition: all .4s;
                cursor: pointer;
            }
            &:not(:hover){
                transition: all .4s;
                border-radius: 25px;
            }
            .partner_first_box_img{
                width: 120px;
                height: 120px;
                background-image: url(../images/Avatar_1.png);
            }
            .partner_first_box_name{
                width: 221px;
                height: 18px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #444444;
                margin-top: 14px;
            }
            .partner_first_box_description{
                width: 221px;
                height: 38px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 14px;
                text-align: center;
                color: #666666;
                margin-top: 12px;
            }
        }

        .partner_second_box{
            width: 221px;
            height: 224px;
            @include flex-row(column, center, center);
            &:hover{
                transform: scale(1.14);
                background-color: rgba(211, 211, 211, 0.486);
                border-radius: 25px;
                transition: all .4s;
                cursor: pointer;
            }
            &:not(:hover){
                transition: all .4s;
                border-radius: 25px;
            }

            .partner_second_box_img{
                width: 120px;
                height: 120px;
                background-image: url(../images/Avatar_2.png);
            }
            .partner_second_box_name{
                width: 221px;
                height: 18px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #444444;
                margin-top: 16px;
            }
            .partner_second_box_description{
                width: 221px;
                height: 38px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 14px;
                text-align: center;
                color: #666666;
                margin-top: 12px;
            }

        }

        .partner_third_box{
            width: 221px;
            height: 224px;
            @include flex-row(column, center, center);
            &:hover{
                transform: scale(1.14);
                background-color: rgba(211, 211, 211, 0.486);
                border-radius: 25px;
                transition: all .4s;
                cursor: pointer;
            }
            &:not(:hover){
                transition: all .4s;
                border-radius: 25px;
            }
            .partner_third_box_img{
                width: 120px;
                height: 120px;
                background-image: url(../images/Avatar_3.png);
            }

            .partner_third_box_name{
                width: 221px;
                height: 18px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #444444;
                margin-top: 16px;
            }
            .partner_third_box_description{
                width: 221px;
                height: 38px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 14px;
                text-align: center;
                color: #666666;
                margin-top: 12px;
            }

        }

        .partner_fourth_box{
            width: 221px;
            height: 224px;
            @include flex-row(column, center, center);
            &:hover{
                transform: scale(1.14);
                background-color: rgba(211, 211, 211, 0.486);
                border-radius: 25px;
                transition: all .4s;
                cursor: pointer;
            }
            &:not(:hover){
                transition: all .4s;
                border-radius: 25px;
            }

            .partner_fourth_box_img{
                width: 120px;
                height: 120px;
                background-image: url(../images/Avatar_4.png);
            }
            .partner_fourth_box_name{
                width: 221px;
                height: 18px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: #444444;
                margin-top: 14px;
            }
            .partner_fourth_box_description{
                width: 221px;
                height: 38px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: 300;
                font-size: 14px;
                line-height: 14px;
                text-align: center;
                color: #666666;
                margin-top: 12px;
            }

        }
    }

    .partner_button{
        @include flex-center(center, center);
        width: 180px;
        height: 40px;
        background: #FFFFFF;
        border: 2px solid #FF4E50;
        box-sizing: border-box;
        border-radius: 40px;
        margin-top: 36px;
        &:hover{
            transform: scale(1.06);
            background-color:  #ff4e513b;
            transition: all .3s;
            cursor: pointer;
        }
        &:not(:hover){
            transition: all .3s;
        }

        button{
            font-family: $fontStyle;
            width: 137px;
            height: 17px;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #FF4E50;
            background-color: transparent;
            outline: none;
            border: none;
            cursor: pointer;

        }
    }

}

.activity{
    @include flex-row(column, center, center);
    .activity_title{
        width: 413px;
        height: 32px;
        font-family: $fontStyle;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        text-align: center;
        color: #444444;
        margin-top: 99px;
    }
    .activity_cards_block1{
        width: 940px;
        @include flex-row(row, space-between, center);
        margin-top: 35px;
        .activity_card_img1{
            width: 300px;
            height: 310px;
            background-image: url(../images/Sport.png);
            border-radius: 4px;
            @include flex-center(center, center);
            &:hover{
                transform: scale(1.04);
                transition: all .4s;
                box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.438);
                cursor: pointer;
                
            }
            &:not(:hover){
                transition: all .4s;
            }
                
            
            .activity_card_img1_text{
                width: 209px;
                height: 27px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                color: #FFFFFF;
                &:hover{
                    transform: translateY(10px);
                    transition: all .4s;
                    cursor: pointer;
                    
                }
                &:not(:hover){
                    transition: all .4s;
                }
                   
            }
        }
        .activity_card_img2{
            width: 300px;
            height: 310px;
            background-image: url(../images/Healath.png);
            border-radius: 4px;
            @include flex-center(center, center);
            &:hover{
                transform: scale(1.04);
                transition: all .4s;
                box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.438);
                cursor: pointer;
                
            }
            &:not(:hover){
                transition: all .4s;
            }
               
            .activity_card_img2_text{
                width: 238px;
                height: 27px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                color: #FFFFFF;
                &:hover{
                    transform: translateY(10px);
                    transition: all .4s;
                    cursor: pointer;
                    
                }
                &:not(:hover){
                    transition: all .4s;
                }
            }
        }
        .activity_card_img3{
            width: 300px;
            height: 310px;
            background-image: url(../images/Extreme.png);
            border-radius: 4px;
            @include flex-center(center, center);
            &:hover{
                transform: scale(1.04);
                transition: all .4s;
                box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.438);
                cursor: pointer;
                
            }
            &:not(:hover){
                transition: all .4s;
            }
               
            .activity_card_img3_text{
                width: 187px;
                height: 54px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                color: #FFFFFF;
                &:hover{
                    transform: translateY(10px);
                    transition: all .4s;
                    cursor: pointer;
                    
                }
                &:not(:hover){
                    transition: all .4s;
                }
            }
        }
    
    }
    .activity_cards_block2{
        width: 940px;
        @include flex-row(row, space-between, center);
        margin-top: 20px;
        .activity_card_img4{
            width: 300px;
            height: 310px;
            background-image: url(../images/Games.png);
            border-radius: 4px;
            @include flex-center(center, center);
            &:hover{
                transform: scale(1.04);
                transition: all .4s;
                box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.438);
                cursor: pointer;
                
            }
            &:not(:hover){
                transition: all .4s;
            }
               
            .activity_card_img4_text{
                width: 80px;
                height: 27px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                color: #FFFFFF;
                &:hover{
                    transform: translateY(10px);
                    transition: all .4s;
                    cursor: pointer;
                    
                }
                &:not(:hover){
                    transition: all .4s;
                }
            }

        }
        .activity_card_img5{
            width: 620px;
            height: 310px;
            background-image: url(../images/Culture.png);
            border-radius: 4px;
            @include flex-center(center, center);
            &:hover{
                transform: scale(1.04);
                transition: all .4s;
                box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.438);
                cursor: pointer;
                
            }
            &:not(:hover){
                transition: all .4s;
            }
               
            .activity_card_img5_text{
                width: 261px;
                height: 27px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                color: #FFFFFF;
                &:hover{
                    transform: translateY(10px);
                    transition: all .4s;
                    cursor: pointer;
                    
                }
                &:not(:hover){
                    transition: all .4s;
                }
            }
        }

    }
    .activity_cards_block3{
        width: 940px;
        @include flex-row(row, space-between, center);
        margin-top: 20px;
        .activity_card_img6{
            width: 620px;
            height: 310px;
            background-image: url(../images/Enjoment.png);
            border-radius: 4px;
            @include flex-center(center, center);
            &:hover{
                transform: scale(1.04);
                transition: all .4s;
                box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.438);
                cursor: pointer;
                
            }
            &:not(:hover){
                transition: all .4s;
            }
               
            .activity_card_img6_text{
                width: 277px;
                height: 27px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                color: #FFFFFF;
                &:hover{
                    transform: translateY(10px);
                    transition: all .4s;
                    cursor: pointer;
                    
                }
                &:not(:hover){
                    transition: all .4s;
                }
            }
        }
        .activity_card_img7{
            width: 300px;
            height: 310px;
            background-image: url(../images/Travel.png);
            border-radius: 4px;
            @include flex-center(center, center);
            &:hover{
                transform: scale(1.04);
                transition: all .4s;
                box-shadow: 0 0 20px 5px rgba(128, 128, 128, 0.438);
                cursor: pointer;
                
            }
            &:not(:hover){
                transition: all .4s;
            }
               
            .activity_card_img7_text{
                width: 114px;
                height: 27px;
                font-family: $fontStyle;
                font-style: normal;
                font-weight: bold;
                font-size: 22px;
                line-height: 27px;
                text-align: center;
                color: #FFFFFF;
                &:hover{
                    transform: translateY(10px);
                    transition: all .4s;
                    cursor: pointer;
                    
                }
                &:not(:hover){
                    transition: all .4s;
                }
            }
        }

    }

}

.holiday{
    @include flex-row(column, center, center);
    .holiday_title{
        width: 358px;
        height: 32px;
        margin-top: 89px;
        h2{
            font-family: $fontStyle;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 32px;
            text-align: center;
            color: #444444;

        }
    }
    .holiday_interests{
        width: 415px;
        height: 24px;
        margin-top: 43px;
        p{
            font-family: $fontStyle;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 14px;
            text-align: center;
            color: #666666;

        }
    }
    .holiday_search{
        @include flex-row(row, space-between, center);
        width: 482px;
        height: 40px;
        margin-top: 25px;
        .holiday_interests{
            width: 299px;
            height: 40px;
            background: #FFFFFF;
            border: 1px solid #D4D4D4;
            box-sizing: border-box;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
            border-radius: 3px;
            outline: none;
            padding: 14px 158.8px 10px 14.62px;
            margin: 0;
            &:focus{
                transform: scale(1.03);
                border: 2px outset #FF4E50;
            }
        }
        button{
            width: 172.12px;
            height: 40px;
            background: #FF4E50;
            border-radius: 40px;
            border: none;
            outline: none;
            font-family: $fontStyle;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            &:hover{
                transform: scale(1.06);
                transition: all .3s;
                cursor: pointer;
            }
            &:not(:hover){
                transition: all .3s;
            }   
            
        }
      
    }
}

// Tablet //
@media all and (max-width: 768px){
    .steps_cards{
        .steps_cards_title{
            margin: 0;
            padding-top: 95px;
            font-size: 22px;
            line-height: 32px;
            
        }
        .steps_cards_images{
            width: 748px;
            .step_card_image1{
                width: 236px;
                height: 400px;
                .step_card_image1_textbox{
                    width: 196px;
                    height: 199px;              
                    padding: 185px 20px 16px 20px;

                    button{
                        width: 70px;
                        height: 20px;
                        line-height: 12px;
                    }
                    h2{
                        width: 196px;
                        height: 33px;
                        margin-top: 40px;
                        line-height: 14px;
                    }
                    p{
                        width: 196px;
                        height: 70px;
                        margin-top: 28px;
                        
                    }
                }
            }
            .step_card_image2{
                width: 236px;
                height: 400px;
                .step_card_image2_textbox{
                    width: 196px;
                    height: 129px;
                    padding: 255px 20px 16px 20px;

                    button{
                        width: 70px;
                        height: 20px;
                        line-height: 12px;
                    }
                    h2{
                        width: 196px;
                        height: 29px;
                        margin-top: 14px;
                        line-height: 14px;
                    }
                    p{
                        width: 196px;
                        height: 57px;
                        margin-top: 9px;
                        
                    }
                }
            }
            .step_card_image3{
                width: 236px;
                height: 400px;
                .step_card_image3_textbox{
                    padding: 205px 20px 16px 20px;
                    width: 196px;
                    height: 199px;              
                    padding: 185px 20px 16px 20px;

                    button{
                        width: 70px;
                        height: 20px;
                        line-height: 12px;
                    }
                    h2{
                        width: 196px;
                        height: 33px;
                        margin-top: 40px;
                        line-height: 14px;
                    }
                    p{
                        width: 196px;
                        height: 70px;
                        margin-top: 28px;
                        
                    }
                }
                
            }

                
            
        }

    }

    .partners{
        .partners_title{
            margin-top: 94px;
            
        }
        .partner_boxes{
            width: 492px;
            height: 605px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-top: 35px;
            
            .partner_first_box{
                order: 1;
            }
            .partner_second_box{
                order: 3;
            }
            .partner_third_box{
                order: 2;
            }
            .partner_fourth_box{
                order: 4;
            }

        }
        .partner_button{
            margin-top: 40px;
        }
        
    }
    .activity{
        padding: 0 10px;
        .activity_title{
            margin-top: 94px;
        }
        .activity_cards_block1{
            width: 100%;
            height: 310px;
            .activity_card_img1{
                width: 236px;
                height: 310px;   
            }
            .activity_card_img2{
                width: 236px;
                height: 310px;   
            }
            .activity_card_img3{
                width: 236px;
                height: 310px;   
            }
        }
        .activity_cards_block2{
            width: 100%;
            height: 310px;
            .activity_card_img4{
                width: 236px;
                height: 310px;   
            }
            .activity_card_img5{
                width: 492px;
                height: 310px;   
            }
            
        }
        .activity_cards_block3{
            width: 100%;
            height: 310px;
            .activity_card_img6{
                width: 492px;
                height: 310px;   
            }
            .activity_card_img7{
                width: 236px;
                height: 310px;   
            }
            
        }
    }
}

@media all and (max-width: 320px){
    .steps_cards{
            .steps_cards_title{
                padding-top: 34px;
            }   
        
            .steps_cards_images{
                width: 100%;   
                display: flex;
                flex-direction: column;
                margin-top: 15px;
                .step_card_image1{
                    width: 300px;
                    height: 240px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    @include flex-center(center, center);

                    
                    .step_card_image1_textbox{
                        margin: 0;
                        padding: 0;
                        width: 250px;
                        height: 160px;  
                        button{
                            width: 70px;
                            height: 20px;
                            line-height: 12px;
                        }
                        h2{
                            width: 196px;
                            height: 33px;
                            margin-top: 18px;
                            line-height: 14px;
                        }
                        p{
                            width: 196px;
                            height: 70px;
                            margin-top: 10px;
                            
                        }
                    }
                }
                .step_card_image2{
                    width: 300px;
                    height: 240px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin: 10px 0;
                    @include flex-center(center, center);
                    .step_card_image2_textbox{
                        margin: 0;
                        padding: 0;
                        width: 250px;
                        height: 129px;

                        button{
                            width: 70px;
                            height: 20px;
                            line-height: 12px;
                        }
                        h2{
                            width: 196px;
                            height: 33px;
                            margin-top: 17px;
                            line-height: 14px;
                        }
                        p{
                            width: 196px;
                            height: 70px;
                            margin-top: 9px;
                            
                        }
                    }
                }
                .step_card_image3{
                    width: 300px;
                    height: 240px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: center;
                    @include flex-center(center, center);
                    .step_card_image3_textbox{
                        margin: 0;
                        padding: 0;
                        width: 250px;
                        height: 160px;

                        button{
                            width: 70px;
                            height: 20px;
                            line-height: 12px;
                        }
                        h2{
                            width: 196px;
                            height: 33px;
                            margin-top: 18px;
                            line-height: 14px;
                        }
                        p{
                            width: 196px;
                            height: 70px;
                            margin-top: 10px;
                            
                        }
                    }
                }
            }
    }

    .partners{
        .partners_title{
           width: 280px;
           height: 54px;   
           margin-top: 36px;  
           line-height: 27px;    
        }
        .partner_boxes{
            width: 100%;
            height: 100%;  
            display: flex;
            flex-direction: column;
            margin-top: 14px;
            .partner_first_box{
                width: 236px;
                height: 205px;
                &:hover{
                    background-color: transparent;
                }
            }
    
            .partner_second_box{
                width: 236px;
                height: 224px;
                margin-top: 16px;
                &:hover{
                    background-color: transparent;
                }
            }
    
            .partner_third_box{
                width: 236px;
                height: 205px;
                margin-top: 16px;
                &:hover{
                    background-color: transparent;
                }
            }
    
            .partner_fourth_box{
                width: 236px;
                height: 205px;
                margin-top: 16px;
                &:hover{
                    background-color: transparent;
                }
                
            }
    
        }
        .partner_button{
            width: 280px;
            height: 40px;
            margin-top: 36px;
        }
    }

    .activity{
        .activity_title{
            width: 280px;
            height: 54px; 
            margin-top: 35px;   
            line-height: 27px;       
        }
        .activity_cards_block1{
            height: 380px;
            display: flex;
            flex-direction: column;
            margin-top: 33px;
            .activity_card_img1{
                width: 300px;
                height: 120px;
                background-position: center;


            }
            .activity_card_img2{
                width: 300px;
                height: 120px;
                background-position: center;


            }
            .activity_card_img3{
                width: 300px;
                height: 120px;
                background-position: center;


            }
        }
        .activity_cards_block2{
            height: 260px;
            display: flex;
            flex-direction: column;
            margin: 0;
            .activity_card_img4{
                width: 300px;
                height: 120px;
                margin-top: 10px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

            }
            .activity_card_img5{
                width: 300px;
                height: 120px;
                margin-top: 10px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
           
        }
        .activity_cards_block3{
            height: 260px;
            display: flex;
            flex-direction: column;
            margin: 0;
            .activity_card_img6{
                width: 300px;
                height: 120px;
                margin-top: 10px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

            }
            .activity_card_img7{
                width: 300px;
                height: 120px;
                margin-top: 10px;
                background-position: center;
                
            }
           
        }
    }

    .holiday{
        .holiday_title{
            width: 280px;
            height: 64px;
            margin-top: 35px;
        }
        .holiday_interests{
            width: 280px;
            height: 28px;  
            margin-top: 9px; 
        }
        .holiday_search{
            width: 280px;
            height: 90px;
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            .holiday_interests{
                width: 280px;
                height: 40px;
                padding: 14px 139px 10px 15px;
            }
            button{
                width: 280px;
                height: 40px;
                margin-top: 10px;
            }

    
        }
    }



}


